<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <link rel="icon" href="attachments/761306921461481523/766321804116754492/3a18d1b132f0f58832c892e40afcc456.png" type="image/x-icon">
  <link rel="shortcut icon" href="attachments/761306921461481523/766321804116754492/3a18d1b132f0f58832c892e40afcc456.png" type="image/x-icon">
  
    <script data-ad-client="ca-pub-5885059289521583" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    
</head>

<body class="d-flex flex-column vh-100">
   <%- include('header') %> 

    <main class="container mt-5">
        
    <%- body %>
    
    </main> 
    
    


</body>
</html>